<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head th:fragment="listagem">
		<title th:text="#{app.nome}"></title>
		<link th:href="@{~/css/libs/app.css}" rel="stylesheet">
		<link th:href="@{~/css/libs/foundation.min.css}" rel="stylesheet">
		<link th:href="@{~/css/style.css}" rel="stylesheet">
		
	</head>
	
	<div class="todo">
	
		<div id="div-filtros" >
	
		<div class="row">
    		<div  class="small-6 large-4 columns">
      			<label>[[#{folha.esfera}]]
      			   <select id="select-esferas" v-on:change="getAnos()">
      			   		<option value=""></option>
      			   		<template v-for="esfera in esferas">
      						<option v-bind:value="esfera.value">{{esfera.label}}</option>
      					</template>
  					</select>
      			</label>
    		</div>
   			<div class="small-6 large-4 columns">
      			<label>[[#{folha.ano}]]
        			<select id="select-anos" v-on:change="getMeses()">
        				<option value=""></option>
        				<template v-for="ano in anos">
      						<option v-bind:value="ano">{{ano}}</option>
      					</template>
  					</select>
      			</label>
    		</div>
    		<div class="small-6 large-4 columns">
      			<label>[[#{folha.mes}]]
        			<select id="select-meses">
        				<option value=""></option>
        				<template v-for="mes in meses">
      						<option v-bind:value="mes.value">{{mes.label}}</option>
      					</template>  							 					
  					</select>
      			</label>
    		</div>
  		</div>
  		  		
  		<div class="row">
    		<div class="small-6 large-4 columns">
      			<label>[[#{folha.gestao}]]
      				<select id="select-gestoes" v-on:change="getOrgaos()">
      					<option value=""></option>
        				<template v-for="gestao in gestoes">
      						<option v-bind:value="gestao">{{gestao}}</option>
      					</template>  							 					
  					</select>
      			</label>
    		</div>
   			<div class="small-6 large-4 columns">
      			<label>[[#{folha.lotacao}]]
        			<select id="select-orgaos">
        				<option value=""></option>
        				<template v-for="orgao in orgaos">
      						<option v-bind:value="orgao">{{orgao}}</option>
      					</template>  							 					
  					</select>
      			</label>
    		</div>
    		<div class="small-6 large-4 columns">
      			<label>[[#{folha.nome}]]
        			<input type="text" placeholder="Nome do servidor">
      			</label>
    		</div>
  		</div>
  		
  		</div>
  		
  		<div class="row">
  			<div class="small-2 large-2 columns">
  				<a class="button text-center" href="#">[[#{folha.button.pesquisar}]]</a>
  			</div>
  		</div>
	
		<div class="carregando"></div>

            <table id="lista-folha">
              <thead>
                <tr>
                  <th>[[#{folha.esfera}]]</th>
                  <th>[[#{folha.gestao}]]</th>
                  <th>[[#{folha.lotacao}]]</th>
                  <th>[[#{folha.cargo}]]</th>
                  <th>[[#{folha.nome}]]</th>
                  <th>[[#{folha.ano}]]</th>
                  <th>[[#{folha.mes}]]</th>
                  <th>[[#{folha.vantagem}]]</th>
                </tr>
              </thead>
              <tbody>
              <tr v-for="pessoa in pessoal">
                  <td> {{pessoa.esfera}}</td>      
              	  <td> {{pessoa.gestao}}</td>
              	  <td> {{pessoa.orgao}}</td>
              	  <td> {{pessoa.cargo}}</td>
              	  <td> {{pessoa.nome}}</td>
              	  <td> {{pessoa.anoReferencia}}</td>
              	  <td> {{pessoa.mesReferencia}}</td>
              	  <td> {{pessoa.vantagem}}</td>
                </tr>          
              </tbody>
            </table>
          </div>
    
    
    <ul id="page-navigation" class="pagination text-center" role="navigation" aria-label="Pagination">
  		<li v-if="paginaAtiva == 1" class="pagination-previous disabled">[[#{folha.navigation.anterior}]]</li>
  		<li v-else class="pagination-previous">
  			<a v-on:click="decrementarPagina()" href="#" aria-label="Anterior">[[#{folha.navigation.anterior}]]</a>
  		</li> 
  		<template v-for="pagina in paginasDaJanelaAtual">
	  		<li v-if="pagina === paginaAtiva" class="current">
	  			<span v-on:click="irParaPagina(pagina)" class="show-for-sr"></span> {{pagina}}
	  		</li>
	  		<li v-else>
	  			<a v-on:click="irParaPagina(pagina)" href="#">{{pagina}}</a>
	  		</li>
  		</template>		
  		
  		<li v-if="tamanhoJanela < totalPaginas" class="pagination-next">
  			<a v-on:click="incrementarPagina()" href="#">[[#{folha.navigation.proxima}]]</a>
  		</li>
  		<li v-else class="pagination-next disabled">[[#{folha.navigation.proxima}]]</li>
	</ul>

	<!--<div id="page-navigation">
		<nav aria-label="...">
		  <ul class="pagination">
		    <li v-if="paginaAtiva == 1" class="disabled">
		       <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
		    </li>
		    <li v-else>
		       <a v-on:click="decrementarPagina()" href="#" aria-label="Previous">
		       	   <span aria-hidden="true">&laquo;</span>
		       </a>
		    </li>
		    <template v-for="pagina in paginasDaJanelaAtual">
		      <li v-if="pagina === paginaAtiva" class="active">
		      	<span v-on:click="irParaPagina(pagina)">{{pagina}}<span class="sr-only">(current)</span></span>
		      </li>
		      <li v-else>
		    	<a v-on:click="irParaPagina(pagina)" href="#">{{pagina}}</a>
		      </li>
		  	</template>
		  	<li v-if="tamanhoJanela < totalPaginas">
		      <a v-on:click="incrementarPagina()" href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		    <li v-else class="disabled">
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>	-->

	<script th:src="@{~/js/libs/app.js}"></script>
	<script th:src="@{~/js/libs/vendor/jquery.js}"></script>
	<script th:src="@{~/js/libs/vendor/foundation.min.js}"></script>
	<script th:src="@{~/js/libs/vue.min.js}" ></script>
 	<script th:src="@{~/js/model/folha.js}" ></script>

</html>